{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
 <br>
<div class="container">
<h2> Registration</h2><br>
{{form(regform)}}
</div>
{% endblock %}
